# Not Sensitive
PROD_DB_PATH=/path/to/db_file.db

# CAUTION: ANYTHING UNDERNEATH IS SENSITIVE
HARRI_BOT_TOKEN=telegram_bot_id
# Auth stuff
HARRI_ENCRYPTION_KEY=python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
GOOGLE_CLIENT_CREDENTIALS=python -c 'import json; print(json.dumps(json.load(open("you_credentials.json")), separators=(",", ":")))'
